body {
	max-width: 500px;
	margin: 10px auto;
}
input[type="text"] {
	width: 500px;
}
button {
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	text-transform: none;
	box-shadow: none;
	line-height: 1;
	cursor: pointer;
	font-size: 14px;
	padding: 5px;
	display: block
}